[Desktop Entry]
Version=1.0
Name=Kaisen Officials links
Comment=Others Kaisen Linux links
Icon=kaisen
Type=Link
URL=https://https://docs.kaisen-linux.org/index.php?title=Official_links

