[Desktop Entry]
Version=1.0
Name=Kaisen Documentation
Comment=Docs for Kaisen Linux OS
Icon=kaisen
Type=Link
URL=https://kaisenlinux.org/documentation

