[Desktop Entry]
Name=dna-left-theme
X-KDE-PluginInfo-Name=DNA left
X-KDE-PluginInfo-Author=Kevin Chevreuil - Kaisen
X-KDE-PluginInfo-Email=kaisen@kaisen-linux.org
X-KDE-PluginInfo-License=GPLv3+
