[Desktop Entry]
Name=picto-red-theme
X-KDE-PluginInfo-Name=Picto Red
X-KDE-PluginInfo-Author=Kevin Chevreuil - Kaisen
X-KDE-PluginInfo-Email=kaisen@kaisen-linux.org
X-KDE-PluginInfo-License=GPLv3+
