[Desktop Entry]
Name=kaisen-additionnal1-theme
X-KDE-PluginInfo-Name=kaisen
X-KDE-PluginInfo-Author=Kevin Chevreuil - Kaisen
X-KDE-PluginInfo-Email=kaisen@kaisenlinux.org
X-KDE-PluginInfo-License=GPLv2+
