[Desktop Entry]
Name=kaisen-additionnal2-theme
X-KDE-PluginInfo-Name=kaisen-additionnal2-theme
X-KDE-PluginInfo-Author=Laure Andre - lalo
X-KDE-PluginInfo-Email=kaisen@kaisenlinux.org
X-KDE-PluginInfo-License=GPLv2+
