[Desktop Entry]
Name=kaisen-theme
X-KDE-PluginInfo-Name=kaisen-theme
X-KDE-PluginInfo-Author=Louis Bourquin - CybSemiK
X-KDE-PluginInfo-Email=kaisen@kaisenlinux.org
X-KDE-PluginInfo-License=GPLv2+
