[Desktop Entry]
Name=picto-white-theme
X-KDE-PluginInfo-Name=Picto White
X-KDE-PluginInfo-Author=Kevin Chevreuil - Kaisen
X-KDE-PluginInfo-Email=kaisen@kaisen-linux.org
X-KDE-PluginInfo-License=GPLv3+
